<BR>
    <BR>
<div class="container">

<div class="card">   

    <div class="card-body">
            <div class="p-3 mb-2 bg-info text-white"> Student Registration Form </div>                  

        <div class="form-horizontal">
                     
                <h6> Please fill the below form to register with the university.. On submisson of your form you will recieve your user name and password </h6>
               
            <form name ="form" [formGroup] ="form" #studentdata = "ngForm" (ngSubmit) ="onSubmit()">
                
                <div class="form-group"> 
                    <label for="firstName" class="col-sm-3 control-label">First Name :</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstname" placeholder="First Name" 
                        class="form-control" formControlName="firstname" [ngClass] 
                        = "{'is-invalid':form.get('firstname').touched && form.get('firstname').invalid}" ngModel>
                        <div class = "invalid-feedback">
                            <div>First Name is required</div>
                        </div>  
                     </div>   
                </div>
    
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name :</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastname" placeholder="Last Name" class="form-control" formControlName="lastname"
                        [ngClass] ="{'is-invalid':form.get('lastname').touched && form.get('lastname').invalid}" >
                         <div class = "invalid-feedback">
                            <div>Last Name is required</div>
                        </div> 
                    </div> 
                </div>
    
                <div class="form-group">
                    <label for="Address" class="col-sm-3 control-label">Address: </label>
                    <div class="col-sm-9">
                        <input type="text" id="address" placeholder="Address" class="form-control" name= "address" formControlName="address"
                        [ngClass] ="{'is-invalid':form.get('address').touched && form.get('address').invalid}">
                        <div class = "invalid-feedback">
                            <div>Address is required</div>
                        </div> 
                    </div> 
                </div>
    
                <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email: </label>
                        <div class="col-sm-9">
                            <input type="email" id="email" placeholder="Email" class="form-control" name= "email" formControlName="email"
                            [ngClass] ="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
                            
                            <div class = "invalid-feedback">
                                    <div>Mail id is required</div>
                             </div>  
                        </div>
                </div>
    
               <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth: </label>
                    <div class="col-sm-9">
                        <input type="date" id="dob" class="form-control" formControlName="dob"
                         [ngClass] ="{'is-invalid':form.get('dob').touched && form.get('dob').invalid}">
                        <div class = "invalid-feedback">
                            <div>Date of Birth is required</div>
                        </div>  
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">Phone number: </label>
                    <div class="col-sm-9">
                        <input type="Number" id="phone" placeholder="Phone number" class="form-control" formControlName="phone"
                        [ngClass] ="{'is-invalid':form.get('phone').touched && form.get('phone').invalid}">
    
                        <div class = "invalid-feedback">
                                <div>Phone number is required</div>
                                <div></div>
                        </div>  
                    </div>
                </div>
           
                <div class="form-group">
                        <label for="degree" class="col-sm-3 control-label">Degree :</label>
                    <div class="col-sm-9">
                        <select class = "form-control" id ="degree" class="form-control" formControlName="degree"
                        [ngClass] ="{'is-invalid':form.get('degree').touched && form.get('degree').invalid}">
                            <option>B.sc</option>
                            <option>M.sc</option>
                            <option>B.E</option>
                            <option>M.E</option>
                            <option>M.S</option>
                            <option>MBA</option>
                        </select>
                    </div>
                    <div class = "invalid-feedback">
                            <div>Please choose the degree program:</div>
                        </div>  
                </div>
    
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender:</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="Male" value="Male" formControlName="gender">Male
                                </label>
                            </div>  
    
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="Female" value="Female" formControlName="gender">Female
                                </label>
                            </div>
                        </div>
                        <div class = "invalid-feedback">
                                <div>Gender is required</div>
                            </div>  
                    </div>
                </div> <!-- /.form-group -->
    
                <div class="form-group">
                        <label for="qualification" class="col-sm-3 control-label"> Previous Academic Qualification: </label>
                    <div class="col-sm-9">
                        <select class = "form-control" id ="qualification" formControlName="qualification">
                            <option>10th</option>
                            <option>12th</option>
                            <option>Bachelors</option>
                            <option>Master's</option>
                        </select>
                    </div>
                    <div class = "invalid-feedback">
                            <div>Previous Academic is required</div>
                        </div>  
                </div>
    
                <div class="form-group">
                    <label for="Joining year" class="col-sm-3 control-label"> Joining year: </label>
                    <div class="col-sm-9">
                        <select class = "form-control" id ="yearOfJoining" formControlName="yearOfJoining">
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        </select>
                    </div>
                    <div class = "invalid-feedback">
                        <div>Joining year is required</div>
                    </div>  
            </div>
    
    
                <div class="form-group">
                    <label for="Joining term" class="col-sm-3 control-label"> Joining term: </label>
                <div class="col-sm-9">
                    <select class = "form-control" id ="joiningTerm" formControlName="joiningTerm">
                        <option>Fall</option>
                        <option>Winter</option>
                        <option>Summer</option>
                    </select>
                </div>
                <div class = "invalid-feedback">
                        <div>Joining term is required</div>
                    </div>  
                </div>

                <div class="form-group">
                    <label for="admissionNumber" class="col-sm-3 control-label">Admission Number :</label>
                    <div class="col-sm-9">
                        <input type="text" id="admission" placeholder="Admission number" class="form-control" formControlName="admissionNumber"
                        [ngClass] ="{'is-invalid':form.get('admissionNumber').touched && form.get('admissionNumber').invalid}" >
                         <div class = "invalid-feedback">
                            <div>Admission number is required</div>
                        </div> 
                    </div> 
                </div>

                
                <div class="col-sm-3 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block" value ="Add Student">Register</button>  
                </div>  
            </form> <!-- /form -->
        </div>
    </div> <!-- ./container -->
</div>
</div>
